<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Consume API | IT372 Final Project</title>
    <div th:replace="fragments/headerfrag :: headerfrag"></div>
    <!-- Your custom links and scripts here -->
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
    <span class="navbar-brand">Team Add - a - div</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="home">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="consume">MailChimp API</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="service">SKTools Events API</a>
            </li>
        </ul>
    </div>
</nav>
<h2 class="text-center mt-5 mb-5">Consuming MailChimp API RESTful Service</h2>
<div class="container col-6">
    <div class="card shadow">
        <div class="card-header text-center">
            Subscribe to MailChimp Newsletter Mailing List
        </div>
        <div class="card-body">
            <form action="#" th:action="@{/consume}" th:object="${subscribe}" method="post">
                <div class="alert alert-danger" th:if="${#fields.hasErrors('global')}" th:errors="*{global}" >Registration Error</div>
                <div class="form-group">
                    <label for="fname">First Name</label>
                    <input class="form-control" type="text" name="firstname" id="fname" th:field="*{fname}" />
                    <small class="text-danger" th:if="${#fields.hasErrors('fname')}" th:errors="*{fname}">First Name Error</small>
                </div>
                <div class="form-group">
                    <label for="lname">Last Name</label>
                    <input class="form-control" type="text" name="lastname" id="lname" th:field="*{lname}" />
                    <small class="text-danger" th:if="${#fields.hasErrors('lname')}" th:errors="*{lname}">Last Name Error</small>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input class="form-control" type="email" name="email" id="email" th:field="*{email}" />
                    <small class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</small>
                </div>
                <div class="text-center mt-4 mb-4">
                    <button class="btn btn-primary col-3" type="submit" value="submit">Subscribe</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:replace="fragments/scriptsfrag :: scriptsfrag"></div>
<!-- Your custom scripts go here -->
</body>
</html>